<h2> Add new post </h2>

<p>
	<form action="/new" method="POST" class="form-floating">
	  <textarea class="form-control" name="content" placeholder="Wrigth post here" id="floatingTextarea2" style="height:  300px"></textarea>

	<br/>
	 <button type="submit" class="btn btn-primary">Submit</button>

	 </form>
</p>